body {
    text-align: center;
    font-size: 80%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    border: solid 3px black;
    width: 10%;
    margin: 15px auto;
    align-items: center;
}

img {
    height: 160px;
<<<<<<< HEAD
    width: 7%;
=======
    width: 110px;
>>>>>>> main
    border: solid 3% black;
    margin: 15px;
    background-color: wheat;
}

#endgame {
    height: 300px;
    width: 300px;
    border-radius: 0%;
}

#hcard {
    display: none;
}

#game-status {
    width: 170px;
    background-color: aliceblue;
}

.button {
    height: 40px;
    width: 100px;
    border: solid black 5px;
    border-radius: 30%;
    margin-bottom: 15px;
    margin: 15px;
    display: inline;
}

#deal-button {
    background-color: greenyellow;
}

.icon {
    height: 160px;
<<<<<<< HEAD
    width: 7%;
=======
    width: 110px;
>>>>>>> main
    border-radius: 50%;
    margin: 20px;
}

#hcard {
    display: none;
}

#table {
    background-color: green;
    border: solid 10px rgb(243, 141, 8);
    margin: 15px;
}

#d-sum {
    background-color: rgb(230, 166, 189);
    width: 110px;
}

#p-sum {
    background-color: rgb(202, 224, 224);
    width: 110px;
}